{% extends "base_web.html" %}
{% block titulo %}Cambiar password{% endblock %}

{% block pagetitle %}Cambiar password{% endblock %}

{% block contenido %}

{% if validlink %}
<p>Por favor ingrese su contraseña dos veces para que podamos verificar su validez.</p>
<form action="" method="post">
	{% csrf_token %}
  <table>
    <tr>
      <td>{{ form.new_password1.errors }}<label for="id_new_password1">Nuevo password:</label></td>
      <td>{{ form.new_password1 }}</td>
    </tr>
    <tr>
      <td>{{ form.new_password2.errors }}<label for="id_new_password2">Confirmar password:</label></td>
      <td>{{ form.new_password2 }}</td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" class="btn" value="Cambiar mi password" /></td>
    </tr>
  </table>
</form>
{% else %}
<h1>No se pudo cambiar el password.</h1>
<p>El link para cambiar la contraseña es inválido, tal vez ya lo haya utilizado. Por favor, <a href="{% url 'django.contrib.auth.views.password_reset' %}"></a>solicite un nuevo cambio de password.</p>
{% endif %}
{% endblock %}
