{% autoescape off %}
Está recibiendo este mail porque usted solicitó un cambio de contraseña para el sitio www.webkhronos.herokuuapp.com.

Por favor, vaya al siguiente link y genere una nueva contraseña.
{% block reset_link %}
{{ protocol }}://webkhronos.herokuuapp.com{% url 'django.contrib.auth.views.password_reset_confirm' uidb36=uid token=token %}
{% endblock %}

En caso de que no lo recuerde, su nombre de usuario es: {{ user.username }}

Gracias por usar Khronos.

El equipo de Khronos.

{% endautoescape %}
