{% extends "base_web.html" %}

{% block titulo %}Password reset{% endblock %}

{% block pagetitle %}Password reset{% endblock %}

{% block contenido %}
<p>¿Olvidó su password? </p>
<p>Ingrese su e-mail debajo, y le enviaremos por ahí las instrucciones para crear una nueva.</p>
<form action="" method="post">
{% csrf_token %}
{{ form.email.errors }}
	<table>
		<tr>
			<td id="email-td">{{ form.email }}</td>
			<script>
				$(document).ready(function(){
					$("#email-td").children("input").attr("placeholder","E-Mail").focus();
				});
			</script>
		</tr>
		<tr>
			<td><input type="submit" class="btn" value="Cambiar mi password" /></td>
		</tr>
	</table>
</form>
{% endblock %}
