
<table id="register-form" class="slidable semiwhite">
	<tr>
		<td colspan=2><div id="register-user-message"></div></td>
	</tr>
	<tr>
		<td><label>Usuario:</label></td>
		<td><input type="text" id="register-user"></td>
	</tr>
	
	<tr>
		<td colspan=2><div id="register-email-message"></div></td>
	</tr>
	<tr>
		<td><label>Email:</label></td>
		<td><input type="text" id="register-email"></td>
	</tr>
	<tr>
		<td colspan=2><div id="register-pass-message"></div></td>
	</tr>
	<tr>
		<td><label>Pass:</label></td>
		<td><input type="password" id="register-password"></td>
	</tr>
	<tr>
		<td><label>Confirm pass:</label></td>
		<td><input type="password" id="register-confirm-password"></td>
	</tr>
	<tr>
		<td></td>
		<td><button class="btn" id="register-btn">Registrarme</button> o <a id="back-to-login"href="#">Loguearme</a></td>
	</tr>
</table>
<script type="text/javascript" src="{{ STATIC_URL }}/javascript/RegisterForm.js"></script>
