{% extends "base_web.html" %}
{% block contenido %}
	<div class="centrado">
		
		<h3>Quienes somos</h3>
		<p>
			
			<ul>
				<li><a href="mailto:pabalarc@gmail.com">Alarcon Pablo</a></li>   
				<li><a href="mailto:javier.berpinc@gmail.com">Bernal Javier</a></li> 
				<li><a href="mailto:eabakun@gmail.com">Bakun Enrique</a></li> 
				<li><a href="mailto:rociomagaliescobar@gmail.com">Escobar Magalí</a></li> 
				<li><a href="mailto:rbpulga@gmail.com">Gimenez Matias</a></li> 
				<li><a href="mailto:diegoduncan21@gmail.com">Puente Diego</a></li> 
				<li><a href="mailto:germanserantes8@gmail.com">Serantes German</a></li>
			</ul>
			
			Trabajo con fines didacticos desarrollados por grupo "Khronos"
			en el Informatorio Chaco Resistencia, Argentina. Mayo 2013
			
			
		</p>	
		
	</div>
	
	
{% endblock %}