{% load url from future %}
<!DOCTYPE html>
<html>
	<head>
		<title>{% block titulo %} Khronos {% endblock %}</title>
		
		<link rel=StyleSheet href="{{ STATIC_URL }}css/bootstrap.css" type="text/css">
		<link rel=StyleSheet href="{{ STATIC_URL }}css/khronos.css" type="text/css"> <!-- Debe ir despues de bootstrap -->
		<link rel="shortcut icon" href="{{ STATIC_URL }}/img/clock.png">
		<title>Khronos App</title>
		<script type="text/javascript" src="{{ STATIC_URL }}javascript/jquery.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}javascript/bootstrap.js"></script>
		<script type="text/javascript">

			$(document).ready(function(){
				var url_solapa_seleccionada = $("#url-solapa-seleccionada").val();

				$("ul li > a[href='"+url_solapa_seleccionada+"']")
				.parent()
				.attr('class', 'active');

			});

		</script>
		

		

		{% block extrahead %} {% endblock %}
	</head>
	<body>
		<input type="hidden" id="url-solapa-seleccionada" value="{{ url_solapa_seleccionada }}" />
		<div id="contenedor">
			<div class="navbar  navbar-fixed-top">
		      <div class="navbar-inner">
		        <div class="container">
		          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		          </button>
		          <a class="brand" href="#">{% block pagetitle %} Khronos {% endblock %}</a>
		          <div class="nav-collapse collapse">
		            <ul class="nav">
		            	<!--mira lo que hago -->
		              <li><a href="{% url 'inicio_web' %}">Inicio</a></li>
		              <li><a href="{% url 'descargas' %}">Descargas</a></li>
		              <li><a href="{% url 'documentacion' %}">Documentación</a></li>
		              <li><a href="{% url 'acerca_de' %}">Quienes somos</a></li>
		              <li><a href="{% url 'login' %}">Programa</a></li>
		            </ul>
		            
		          </div><!--/.nav-collapse -->
		        </div>
		      </div>
		    </div>
		
		    <div class="container">
		
		      {% block contenido %}
			
			  {% endblock %}
		
		      <hr>
		
		      <footer>
		        <p>&copy; Khronos 2013</p>
		        <div id="fb-root"></div>
							<script>(function(d, s, id) {
							  var js, fjs = d.getElementsByTagName(s)[0];
							  if (d.getElementById(id)) return;
							  js = d.createElement(s); js.id = id;
							  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=511982525522456";
							  fjs.parentNode.insertBefore(js, fjs);
							}(document, 'script', 'facebook-jssdk'));</script>
							<div class="fb-like" data-href="http://webkhronos.herokuapp.com/" data-send="true" data-width="450" data-show-faces="true"></div>
		      </footer>
		
		    </div> 
			
		</div>
	</body>	
	
	
	
	
	
</html>
